.section-1 {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     padding-top: 40px;
     padding-bottom: 40px;
     background-color: rgb(249, 250, 246);

}

.section-1 .section-1_card {
     width: 150px;
     height: 20px;
     align-items: center;
     margin-right: 10px;
     padding: 20px;
     background-color: rgb(206, 176, 235);
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
     border-radius: 5px;
}

a{
     border-radius: 5px;
     padding: 10px 7px;
     text-decoration: none;
     color: #fff;
     background-color: #333;

}